.Hamburger {
  position: fixed;
  text-align: left;
  font-size: 32px;
  top: 5px;
  left: 0px;
  z-index: 1000;
  -webkit-tap-highlight-color: transparent;
}

.Top {
  position: fixed;
  height: 48px;
  z-index: 3;
}

.sidebar {
  position: fixed;
  left: -150px;
  top: 0;
  height: 100%;
  width: 150px;
  background-color: #f1f1f1;
  transition: left 0.3s ease-in-out;
  z-index: 2;
}

.sidebarIcons {
  position: fixed;
  background-color: #f1f1f1;
  width: 48px;
  height: 100vh;
  padding-top: 70px;
  z-index: 3;
}

.sidebarIcons p {
  /* background-color: aqua; */
  height: 20px;
  font-size: 30px;
  padding: 4px 8px 12px 8px;
  margin: 0px;
  z-index: 10;
}

.sidebarIcons a {
  text-decoration: none;
  color: black;
}

.sidebar.open {
  left: 48px;
}

.sidebarIndex {
  margin-top: 70px;
  transition: transform 0.3s ease-in-out;
}

.sidebar.open .sidebarIndex {
  transform: translateX(-10);
}

/* .sidebarIndex h1 {
  padding-left: 10px;
  padding-top: 5px;
  font-size: 30px;
  font-weight: lighter;
} */

.sidebarIndex p {
  height: 20px;
  font-size: 20px;
  text-align: left;
  padding: 8px;
  margin: 0px;
}

.sidebarIndex a {
  text-decoration: none;
  color: black;
}

.sidebarIndex h1 {
  position: fixed;
  font-size: 30px;
  top: 10px;
}

.TriangleRight {
  position: fixed;
  height: 20px;
  font-size: 20px;
  text-align: left;
}