* {
  margin: 0px;
  padding: 0px;
  font-family: GmLight;
}

@font-face {
  font-family: 'GmBold';
  src: url('font/GmarketSansTTFBold.ttf');
}

@font-face {
  font-family: 'GmLight';
  src: url('font/GmarketSansTTFLight.ttf');
}

@font-face {
  font-family: 'GmMedium';
  src: url('font/GmarketSansTTFMedium.ttf');
}

@font-face {
  font-family: 'Genome';
  src: url('font/Genome-Thin.otf');
}

.body {
  text-align: center;
}

header {
  /* background-color: lightblue; */
  padding: 10px 10px 10px 48px;
}

header p {
  font-size: xx-large;
  /* font-family: GmLight; */
}

main .hrHM {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: -8px;
}

main .hrMF {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

main {
  padding: 10px 10px 10px 48px;
  /* height: 750px; */
}

footer {
  /* background-color: lightgreen; */
  padding: 10px 10px 10px 48px;
  font-size: xx-small;
}

.prompt {
  width: 80%;
  max-width: 500px;
  height: 140px;
  font-size: x-large;
  padding: 5px;
  margin: 10px;
  word-spacing: -1px;
  /* font-family: GmLight; */
}

.submit {
  width: 100px;
  height: 40px;
  margin: 10px;
  font-size: x-large;
  /* font-family: GmLight; */
}

.imageUrl {
  width: 80%;
  max-width: 500px;
  padding: 10px;
  margin: 10px;
}

.Generating {
  padding: 10px;
  margin: 10px;
  padding-top: 200px;
  padding-bottom: 50px;
  color: black;
  font-size: large;
  /* font-family: GmLight; */
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.GeneratingAnime {
  padding: 10px;
  margin: 10px;
  margin-bottom: -180px;
}

.model-content {
  float: left;
  text-align: center;
  width: 260px;
  height: 370px;
  border: 2px solid white;
  padding: 20px;
  margin: 10px;
}

.modal h1 {
  font-size: xx-large;
  font-family: GmBold;
  color: white;
}

.model-content h2 {
  font-size: x-large;
  /* font-family: GmBold; */
  color: white;
}

.model-content p {
  padding-top: 10px;
  color: white;
  /* font-family: GmLight; */
}

.model-content img {
  padding-bottom: 10px;
  width: 260px;
}

.modal {
  padding: 10px;
  position: absolute;
  width: 80%;
  max-height: 80%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.ModelSelectButton {
  margin-bottom: 1 0px;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-top: -12px;
  font-size: 40px;
  color: white;
}